<%- include('./_partials/head') %>
    <%- include('./_partials/navInstructor') %>
  
      <section>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 order-2">
              <div class="p-5 margin-top">
                <img class="img-fluid rounded-circle" src="/images/iconwebdev2.png" alt="">
              </div>
            </div>
            <div class="col-md-6 order-1">
              <div class="p-5">
                <h2 class="display-4">Queue</h2>
                <p>Queue is an application that allows instructors to create and assign quizzes to students. 
                  This application was created with the intention of testing and tracking a student's progress on topics taught in WDI.
                  Queue is a study guide aid that helps the students pinpoint problem areas and understand levels of comprehension on any given tested area.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
  
  
<%- include('./_partials/footer') %>