<!DOCTYPE html>
<html>
<head>
  <title>WDI Student Fun Facts</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/style.css"/>
</head>
<body>
  <a href="/auth/github">Login with GitHub</a>
  <ul class="right">
    <$ if (user) { $>
      <li><a href="/logout"><i class="material-icons left">trending_flat</i><$= user.githubUserName $></a></li>
    <$ } else { $>
      <li><a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a></li>
      <$ } $>
  </ul>


</body>
</html>
