<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <title>QUEUE</title>
</head>
<body>
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">QUEUE</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <% if (user) { %>
          <li class="nav-item active">
              <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="/">Quizzes</a>
                <a class="dropdown-item" href="/">Each of these</a>
                <a class="dropdown-item" href="/">Goes to root for now</a>
              </div>
            </li>
          <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/github/callback">Login with Github</a>
          </li>
          <% } %>
        </ul>
      </div>
    </nav>
    <% if (user) { %>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="container">
        <a href="/instructors">Instructors</a>
        <a href="/students">Students</a><br>
        <a href="/quizzes/new">Make a Quiz</a>
          <form>
              <div class="form-group groupTwo">
                <label for="exampleFormControlSelect2">Taken Quizzes</label>
                <select multiple class="form-control" id="exampleFormControlSelect2">
                  <option>Here we can display submitted quizzes</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              <form>
              <div class="form-group groupTwo">
                <label for="exampleFormControlSelect2">Assigned Quizzes</label>
                <select multiple class="form-control" id="exampleFormControlSelect2">
                  <option>Here we can display assigned quizzes</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
      </div>
<% } else { %>
  <br>
  <br>
  <br>
  <br>
  <h1>Login</h1>
  <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-check">
      <button type="submit" class="btn btn-primary">Submit</button>
      <br>
      <br>
      <p>Or</p>
      <a class="btn btn-primary" href="/auth/github/callback">Login with Github</a>
    </form>
  <% } %>
</div>

    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>