<%- include('./_partials/head') %>
<% if(currentUser && currentUser.instructor) { %>
  <%- include('./_partials/navInstructor') %>
<% } else { %>
  <%- include('./_partials/navStud') %>
<% } %> 
      <section>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 order-2">
              <div class="p-5 margin-top">
                <img class="img-fluid rounded-circle" src="/images/iconwebdev2.png" alt="">
              </div>
            </div>
            <div class="col-md-6 order-1">
              <div class="p-5">
                <h2 class="display-4">Queue</h2>
                <p>Queue is an application that allows WDI teachers to create quizzes and then assign them to classes. It allows for the teacher to view student grades, and helps the students and teachers understand which topics are important to work on.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
  
  
<%- include('./_partials/footer') %>