
.white {
  color: white !important;
  padding: 10px;
}

.center {
  margin-top: 30px;
  text-align: center !important;
}

.cards {
  display: flex;
}

.card {
  order: 0; 
}

.quiz {
  margin-top: 30px;
  height: 300px;
  width: 300px;
}


.make-quiz {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row /* works with row or column */
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}





