
.white {
  color: white !important;
  padding: 10px;
}

.center {
  margin-top: 20px;
  text-align: center !important;
}

.delete {
  margin: 20px;
}

.center-inline {
  margin-top: 20px;
  text-align: center !important;
  display: inline;
}

.card {
  margin: 60px;
  border: solid black;
}

.margin {
  margin: 50px;
}

/* .card {
  border: solid black;
  border-radius: 100px;
  margin: 20px;
} */





