body {
 background-image: url(https://i.pinimg.com/originals/0d/9b/24/0d9b24189f42fb3f2563ef854b41ab0f.png);
 font-family: 'Montserrat', sans-serif; 
}
.white {
  color: white !important;
  padding: 10px;
}

.center {
  margin-top: 20px;
  text-align: center !important;
}

.bold {
  font-weight: bold;
}

.delete {
  margin: 20px;
}

.center-inline {
  margin-top: 20px;
  text-align: center !important;
  display: inline;
}

.card {
  margin: 60px;
}

.margin {
  margin: 50px;
}

.margin-top {
  margin-top: 30px;
}
.margin-small {
  margin: 15px;
}

/* .card {
  border: solid black;
  border-radius: 100px;
  margin: 20px;
} */





