    <h1>Quizzes</h1>
  
    <% quizzes.forEach((quiz) => { %>
        <a href="/quizzes/<%= quiz.id %>"><%= quiz.name %></a>
        <% if(currentUser.instructor) { %>
          <form action="/quizzes/<%= quiz.id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete">
          </form>
        <% } %>
    <% }) %>
    
    <% if(!currentUser.instructor) { %>
      <h1><a href="/quizzes/new">Create Quiz</a></h1>
    <% } %>


