<%- include('../_partials/head') %>
<%- include('../_partials/navInstructor') %>

<div class="container center">
  <div class="make-quiz">
    <div class="card text-black mb-3 quiz" style="max-width: 40rem;">
      <h2><div class="card-header bg-dark text-white">Make a Quiz</div></h2>
      <div class="card-body">
        <p class="card-text">    
          <form action='/quizzes' method='POST'>
          <input type="text" placeholder="Quiz Name" name="name"><br><br><br>
          <input class="btn btn-success" type='submit' value='Create Quiz'>
          </form>
        </p>
      </div>
    </div>
  </div>
<%- include('../_partials/footer') %>  
