<%- include('../_partials/head') %>
<%- include('../_partials/navInstructor') %>
<body>
  <div class="container">
    <h1>Make a Quiz</h1>
  
    <form action='/quizzes' method='POST'>
      <h3>Type of Quiz</h3>
      <input type="text" placeholder="Quiz Name" name="name"><br><br>
     
      <input type='submit' value='Create Quiz'>
    </form>
  <div>
      <%- include('../_partials/footer') %>  
</body>
</html>
