<%- include('./head') %>
<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-light bg-dark">
      <a class="navbar-brand white" href="/" >Queue</a>
      <ul class="navbar-nav">
        <% if (currentUser) { %> 
          <li class="nav-item">
              <a class="nav-link white" href="/quizzes">Quizzes</a>
            </li>
        <% } %>
        <% if (currentUser && currentUser.instructor) { %>
          <li class="nav-item">
            <a class="nav-link white" href="/students">Students</a>
          </li>
        <% } %>
      </ul>
      <ul class="navbar-nav ml-auto">       
        <% if (currentUser) { %>
          <li class="nav-item">
            <span class="white nav-link">Welcome, <%= currentUser.githubUserName %>!</span>
          </li>
          <li class="nav-item">
            <a class= "nav-link white" href="/logout">Log Out</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class= "nav-link white" href="/auth/github/">Login</a>
          </li>
        <% } %>
      </ul>
      </div>
    </nav>
  </header>