<%- include('../_partials/head') %>
<% if(currentUser && currentUser.instructor) { %>
  <%- include('../_partials/navInstructor') %>
<% } else { %>
  <%- include('../_partials/navStud') %>
<% } %> 

<main class="container text-center">
  <div class="instructors-link">
    <a href="/students"><button class="custom-btn">Students</button></a>
    <a href="/quizzes"><button class="custom-btn">Quizzes</button></a>
  </div>
</main>

<%- include('../_partials/footer') %>