<%- include('../_partials/head') %>
<%- include('../_partials/navInstructor') %>

<a href="/students"><button>Students</button></a>
<a href="/quizzes"><button>Quizzes</button></a>


<%- include('../_partials/footer') %>