<%- include('../_partials/head') %>
<%- include('../_partials/navInstructor') %>

<main class="container text-center">
  <div class="instructors-link">
    <a href="/students"><button class="custom-btn">Students</button></a>
    <a href="/quizzes"><button class="custom-btn">Quizzes</button></a>
  </div>
</main>

<%- include('../_partials/footer') %>