<form action="/quizzes/question" method="POST">
    <h3>Question 1</h3>
    <input type='text' placeholder='Question' name='question'><br><br>
    
    <input type='submit' value='Create Question'>
</form>
