<h1><%= quiz.name %></h1>

<form action="/quizzes/<%= quiz.id %>/questions" method="POST">
    <h3>Question 1</h3>
    <textarea placeholder='Question' name='question' required pattern="\w{4,}"></textarea>
    
    <input type='submit' value='Create Question'>
</form>


